@import "tailwindcss";
@import "assets/fonts/panchang/css/panchang.css";
@import "assets/fonts/dindong/css/dindong.css";

:root {
    --inset-top-bar-button-shadow: inset 20px 20px 60px #bebebe,
    inset -20px -20px 60px #ffffff;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}