@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
@import "assets/fonts/panchang/css/panchang.css";
@import "assets/fonts/dindong/css/dindong.css";

:root {
    --inset-top-bar-button-shadow: inset 20px 20px 60px #bebebe,
    inset -20px -20px 60px #ffffff;
}

.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}